@model USALawns.Models.Jobs

<article class="my-3" id="overview">
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <!--<div>asp-validation-summary="ModelOnly" class="text-danger"></div>-->
        <h3>Delete Job</h3>
    </div>

    <div>
        <div class="bd-example">
            <form method="post" asp-action="DeletePost">
                <input asp-for="Id" hidden />
                <div id="emailHelp" class="form-text">Sometimes We gotta cut em!</div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Customer Details : </label>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" asp-for="Description">
                        <option selected>Is This Person...</option>
                        <option value="1">Prospect</option>
                        <option value="2">Past Customer</option>
                        <option value="3">New Customer</option>
                    </select>
                    <div id="emailHelp" class="form-text">Keep track of customer type for the sales department!</div>

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" asp-for="Address"></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" disabled aria-describedby="emailHelp" asp-for="Address">

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" asp-for="Recuring"></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" disabled aria-describedby="emailHelp" asp-for="Recuring">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" asp-for="Description"></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" disabled aria-describedby="emailHelp" asp-for="Description">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" asp-for="Type"></label>
                    <input type="text" class="form-control" id="exampleInputEmail1" disabled aria-describedby="emailHelp" asp-for="Type">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" asp-for="Start"></label>
                    <input type="date" class="form-control" id="exampleInputEmail1" disabled aria-describedby="emailHelp" asp-for="Start">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label" asp-for="End"></label>
                    <input type="date" class="form-control" id="exampleInputEmail1" disabled aria-describedby="emailHelp" asp-for="End">
                </div>
                <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                <button class="btn btn-success" asp-action="Index">Go Back</button>

            </form>
        </div>
    </div>
</article>